argcomplete==1.10.0
astroid==2.3.3
beautifulsoup4==4.8.0
boto3==1.14.16
botocore==1.17.16
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
docutils==0.15.2
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
idna==2.8
IMAPClient==2.1.0
isort==4.3.21
itypes==1.1.0
Jinja2==2.11.1
jmespath==0.10.0
lazy-object-proxy==1.4.3
lxml==4.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.0
olefile==0.46
opencv-python==4.2.0.34
pdfminer.six==20181108
Pillow==7.2.0
pycryptodome==3.9.8
pylint==2.4.4
pytesseract==0.3.4
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2020.1
requests==2.22.0
s3transfer==0.3.3
six==1.12.0
sortedcontainers==2.2.2
soupsieve==2.0.1
SpeechRecognition==3.8.1
textract==1.6.3
tzlocal==1.5.1
uritemplate==3.0.1
urllib3==1.25.8
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.9
